#page_body{
	background:#e2e2e2;
	
    font-family:Verdana, Helvetica, Arial, sans-serif;
}
#header{
	box-shadow:0 0 3px #000;
	position:relative;
	margin-top: 20px;
	
	width: 900px;
	text-align: center;
	margin-left: 260px;
	background-color: #ABCDEf;
	
	padding: 3px;
	letter-spacing: 5px;
	border-radius: 10px;
	
}
#footer{
	box-shadow:0 0 3px #000;
	position:relative;
	margin-top: 10px;
	width: 900px;
	height: 700px;
	text-align: center;
	margin-left: 260px;
	background-color: #ABCDEf;
	border-radius: 10px;
}
#text:hover {
	letter-spacing:-3px;

	
}


#body{
	margin-top: 10px;
	max-width: 900px;
	margin-left: 260px;
	background-color: #0F3158;
}
#info{
	padding: 5px;
	margin: 10px;
	background-color: #ABD;
	border: 1px solid royalblue;
}

#box{
	padding: 5px;
	margin: 10px;
	background-color: #0F3158;
	height: 600px;
}
#button{
	margin-bottom: 15px;
	position: absolute;
	right: 0;
	top: 20px;

}
#intro{
	
	margin-top: 30px;text-align: 
	left;margin-left: 15px;
}
#block1{
	
	height: 300px ;
	margin: 10px;
	margin-top: 25px;
	background-color: #EEEEEE;
	border-radius: 10px;
}
#last-block{
	border: 1px solid royalblue;
	height: 200px ;
	background-color: #EEEEEE;
	border-radius: 10px;
	margin: 10px;
}
.slider{
	-webkit-appearance: none;
    width: 85%;
    height: 16px;
    border-radius: 15px;
    background: #788276;
    outline: none;
    opacity: 1;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    border: 1px solid black;
    margin-right: 100px;
    margin-top: 10px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: white;
  cursor: pointer;
  border-radius:20px;
  box-shadow:0 0 23px #000 ;
  border: 1px solid black;

}